<!DOCTYPE html>
<html>

<head>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet"
    crossorigin="anonymous">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

  <title>Account Dashboard</title>
  <style>
    body {
      font-family: Arial, sans-serif;
      background-color: #f1f1f1;
      margin: 0;
      padding: 0;
    }

    .container {
      /* background-color: #fff; */
      padding: 20px;
      border-radius: 5px;
      margin-bottom: 20px;
    }

    .welcome-heading {
      color: #333;
      margin-bottom: 20px;
    }

    .user-info {
      color: #777;
      margin-bottom: 10px;
    }

    .books-heading {
      color: #555;
      margin-bottom: 10px;
    }

    .book-table {
      width: 100%;
      border-collapse: collapse;
    }

    .book-table th,
    .book-table td {
      padding: 10px;
      text-align: left;
      border-bottom: 1px solid #ddd;
    }

    .book-table th {
      background-color: #f5f5f5;
      font-weight: bold;
    }

    .action-form {
      display: inline-block;
    }

    .discard-btn {
      padding: 5px 10px;
      background-color: #4CAF50;
      color: #fff;
      border: none;
      border-radius: 3px;
      cursor: pointer;
    }

    .discard-btn:hover {
      background-color: #45a049;
    }

    .no-books {
      color: #777;
      font-style: italic;
    }

    .navbar {
      width: 100%;
      height: 60px;
      align-items: center;
      display: flex;
      background-color: black;
      justify-content: space-between;

    }

    .logoimg span {
      font-size: 23px;
      font-weight: 400px;
      color: #fff;
    }

    .links a {
      padding: 20px;
      text-decoration: none;
      color: rgb(255, 255, 255);
      letter-spacing: 2px;
    }

    .logoimg img {
      filter: invert(100);
      margin: 5px;
    }

    .logoimg {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .links a:hover {
      text-decoration: underline;
      color: rgb(255, 255, 255);

    }

    .container h2 {
      font-size: 34px;
    }

    .Btn {
      display: flex;
      margin: 10px 10px 10px 10px;
      align-items: center;
      justify-content: flex-start;
      width: 45px;
      height: 45px;
      border: none;
      border-radius: 50%;
      cursor: pointer;
      position: relative;
      overflow: hidden;
      transition-duration: .3s;
      box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
      background-color: rgb(255, 65, 65);
    }

    /* plus sign */
    .sign {
      width: 100%;
      transition-duration: .3s;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .sign svg {
      width: 17px;
    }

    .sign svg path {
      fill: white;
    }

    /* text */
    .text {
      position: absolute;
      right: 0%;
      width: 0%;
      opacity: 0;
      color: white;
      font-size: 1.2em;
      font-weight: 600;
      transition-duration: .3s;
    }

    /* hover effect on button width */
    .Btn:hover {
      width: 125px;
      border-radius: 40px;
      transition-duration: .3s;
    }

    .Btn:hover .sign {
      width: 30%;
      transition-duration: .3s;
      padding-left: 20px;
    }

    /* hover effect button's text */
    .Btn:hover .text {
      opacity: 1;
      width: 70%;
      transition-duration: .3s;
      padding-right: 10px;
    }

    /* button click effect*/
    .Btn:active {
      transform: translate(2px, 2px);
    }

    .btns {
      width: 9em;
      height: 3em;
      border-radius: 30em;
      font-size: 15px;
      font-family: inherit;
      border: none;
      position: relative;
      overflow: hidden;
      z-index: 1;
      box-shadow: 6px 6px 12px #c5c5c5,
        -6px -6px 12px #ffffff;
    }

    .btns::before {
      content: '';
      width: 0;
      height: 3em;
      border-radius: 30em;
      position: absolute;
      top: 0;
      left: 0;
      background-image: linear-gradient(to right, #0fd850 0%, #f9f047 100%);
      transition: .5s ease;
      display: block;
      z-index: -1;
    }

    .btns:hover::before {
      width: 9em;
    }

    .btns a {
      text-decoration: none;
      color: black;
      text-transform: capitalize;
    }

    footer{
      margin-top: 140px;
    }
  </style>
</head>

<body>
  <nav>

    <div class="navbar">
      <div class="logoimg">
        <img src="./images/logo.png" height="50px" alt="logo">
        <span>BOOKSHELF</span>
      </div>
      <div class="links">
        <a href="#">HOME</a>
        <a href="#">ABOUT</a>
        <a href="#">CONTACT</a>
        


      </div>
    </div>
  </nav>
  <div class="container">
    <% if (user) { %>
      <h1 class="welcome-heading">Welcome <%= user.email %>
      </h1>
      <form action="/logout" method="GET">

        <button type="submit" class="Btn">

          <div class="sign"><svg viewBox="0 0 512 512">
              <path
                d="M377.9 105.9L500.7 228.7c7.2 7.2 11.3 17.1 11.3 27.3s-4.1 20.1-11.3 27.3L377.9 406.1c-6.4 6.4-15 9.9-24 9.9c-18.7 0-33.9-15.2-33.9-33.9l0-62.1-128 0c-17.7 0-32-14.3-32-32l0-64c0-17.7 14.3-32 32-32l128 0 0-62.1c0-18.7 15.2-33.9 33.9-33.9c9 0 17.6 3.6 24 9.9zM160 96L96 96c-17.7 0-32 14.3-32 32l0 256c0 17.7 14.3 32 32 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32l-64 0c-53 0-96-43-96-96L0 128C0 75 43 32 96 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32z">
              </path>
            </svg></div>

          <div class="text">Logout</div>
        </button>
      </form>
      <p class="user-info">Email: <%= user.email %>
      </p>
      <p class="user-info">Mobile Number: <%= user.mob_number %>
      </p>
      <!-- Display any other user information as needed -->
      <% } else { %>
        <p>Please log in to access the dashboard.</p>
        <% } %>
  </div>

  <div class="container">
    <h1 class="books-heading">My Account</h1>

    <h2 class="books-heading">Uploaded Books</h2>

    <% if (books.length> 0) { %>
      <table class="book-table">
        <thead>
          <tr>
            <th>Title</th>
            <th>Price</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <% books.forEach((book)=> { %>
            <tr>
              <td>
                <%= book.title %>
              </td>
              <td>
                <%= book.price %>
              </td>
              <td>
                <form class="action-form" action="/account/discard/<%= book._id %>" method="POST">
                  <button class="discard-btn" type="submit">Discard</button>
                </form>
              </td>
            </tr>
            <% }) %>
        </tbody>
      </table>
      <% } else { %>
        <p class="no-books">No books uploaded yet.</p>
        <% } %>
  </div>

  <footer class="text-center text-lg-start bg-dark text-muted">
    <!-- Section: Social media -->
    <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
      <!-- Left -->
      <div class="me-5 d-none d-lg-block">
        <span>Get connected with us on social networks:</span>
      </div>
      <!-- Left -->
  
      <!-- Right -->
      <div>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-facebook-f"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-twitter"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-google"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-instagram"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-linkedin"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-github"></i>
        </a>
      </div>
      <!-- Right -->
    </section>
    <!-- Section: Social media -->
  
    <!-- Section: Links  -->
    <section class="">
      <div class="container text-center text-md-start mt-5">
        <!-- Grid row -->
        <div class="row mt-3">
          <!-- Grid column -->
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <!-- Content -->
            <h6 class="text-uppercase fw-bold mb-4">
              <i class="fas fa-gem me-3"></i>Company name
            </h6>
            <p>
              Here you can use rows and columns to organize your footer content. Lorem ipsum
              dolor sit amet, consectetur adipisicing elit.
            </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
              Products
            </h6>
            <p>
              <a href="#!" class="text-reset">Angular</a>
            </p>
            <p>
              <a href="#!" class="text-reset">React</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Vue</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Laravel</a>
            </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
              Useful links
            </h6>
            <p>
              <a href="#!" class="text-reset">Pricing</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Settings</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Orders</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Help</a>
            </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
            <p><i class="fas fa-home me-3"></i> New York, NY 10012, US</p>
            <p>
              <i class="fas fa-envelope me-3"></i>
              info@example.com
            </p>
            <p><i class="fas fa-phone me-3"></i> + 01 234 567 88</p>
            <p><i class="fas fa-print me-3"></i> + 01 234 567 89</p>
          </div>
          <!-- Grid column -->
        </div>
        <!-- Grid row -->
      </div>
    </section>
    <!-- Section: Links  -->
  
    <!-- Copyright -->
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
      © 2021 Copyright:
      <a class="text-reset fw-bold" href="https://mdbootstrap.com/">MDBootstrap.com</a>
    </div>
    <!-- Copyright -->
  </footer>
</body>

</html>